<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-5 py-3" data-controller="navbar"
      data-action="scroll@window->navbar#updateNavbar" data-navbar-target="navbar">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand spin" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Work", "#portfolio", class: "nav-link hover-underline ms-4" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", "#about", class: "nav-link hover-underline ms-4" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#contact", class: "nav-link hover-underline ms-4" %>
          </li>
      </ul>
    </div>
  </div>
</div>
