<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-5 py-3">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand spin" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Work", "#", class: "nav-link hover-underline ms-4" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", "#", class: "nav-link hover-underline ms-4" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "mailto:reemabdelg@gmail.com", class: "nav-link hover-underline ms-4" %>
          </li>
      </ul>
    </div>
  </div>
</div>
