<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <%= link_to "Work", root_path, class: "nav-link hover-underline-animation dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
              <%= link_to "Brunchtime", "#", class: "dropdown-item" %>
              <%= link_to "Games", "#", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link hover-underline-animation ml-20" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link hover-underline-animation ml-20" %>
          </li>
      </ul>
    </div>

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "evileye.png" %>
    <% end %>
  </div>
</div>
