<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <%= link_to "Work", root_path, class: "nav-link hover-underline-animation dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
              <%= link_to "Brunchtime", "#", class: "dropdown-item" %>
              <%= link_to "Games", "#", class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link hover-underline-animation ms-3" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link hover-underline-animation ms-3" %>
          </li>
      </ul>
    </div>

      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "evileye.png" %>
      <% end %>

    <div>
      <%= link_to "https://github.com/reemgawad", class: "navbar-brand", target: "_blank" do %>
        <%= image_tag "github.png" %>
      <% end %>

       <%= link_to "https://www.linkedin.com/in/reemgawad", class: "navbar-brand ps-3", target: "_blank" do %>
        <%= image_tag "linkedin.png" %>
      <% end %>
    </div>

  </div>
</div>
