<%= simple_form_for contact,
  html: {
    data: {
      contact_form_target: "form",
      action: "submit->contact-form#send"
    }
  } do |f| %>
  <%= f.input  :name, required: true %>
  <%= f.input :email, as: :email, required: true %>
  <%= f.input :message, as: :text, required: true,
        placeholder: "Write your message..."%>
  <div class= "d-none">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
  </div>
  <%= f.submit 'Send Message', class: 'button' %>
<% end %>
