<div class="container">

  <div class="home-heading-container">
    <div class="row">
      <div class="headline-tags col-12 col-md-6">
        <h1 class="main-heading">Hi, I'm <span class="hover-underline">Reem</span></h1>
        <br>
        <h2 class="sub-heading"> a fullstack developer.</h2>
        <br>
        <div>
          <p class="action-p">Check out some of my work</p>
          <%= image_tag "arrow.png", class: "arrow-icon" %>
        </div>
      </div>
      <div class="col-12 col-md-6 text-center">
        <%= image_tag "reem-pic.png", class: "avatar" %>
      </div>
    </div>
  </div>

  <!-- Portfolio section -->
  <!-- 2x2 col-6 col-6 then col-12 on md/sm -->

  <div class="d-flex justify-content-center align-items-center">
    <div class="container pb-5">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="work-card">
            <div class="work-img-div brunchtime"></div>
            <div class="work-desc">
              <p>WEB APP</p>
            </div>
            <%# <div class="badge">Ruby on Rails</div> %>
            <%# <div class="badge">Javascript</div> %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="work-card">
            <h3>Snake Game</h3>
            <div class="work-img-div ruby-games"></div>
            <div class="work-desc">
              <p>GAME</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="work-card">
            <h3>Arood - coming soon</h3>
            <div class="work-img-div sajil"></div>
            <div class="work-desc" style="position: absolute; top: 40px">
              <%# <p>WEB APP</p> %>
              <div style="margin-top: 60px;">
                <%= image_tag "coming-soon.png", style: "width: 80px" %>
                <%= image_tag "bot.png", style: "width: 80px" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-none"> <!-- Remove d-none class when card is ready -->
          <div class="work-card">
            <h3> - coming soon</h3>
            <div class="work-img-div sajil"></div>
            <div class="work-desc" style="position: absolute; top: 40px">
              <%# <p>WEB APP</p> %>
              <div style="margin-top: 60px;">
                <%= image_tag "coming-soon.png", style: "width: 80px" %>
                <%= image_tag "bot.png", style: "width: 80px" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mini desc + skills section -->
  <!-- The 2 sub-sections will be col-6 col-6 / then col-12 on mobile-->
  <div class="about-container">
    <div class="row">
      <div class="col-12 col-lg-6"></div>
      <div class="col-12 col-lg-6"></div>
    </div>
  </div>

</div>
